<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container flex-shrink-0" th:fragment="navbar">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
           href="../index.html" th:href="@{/}">
            <i class="bi-person-lines-fill fs-3 me-2"></i>
            <span class="fs-4">Клиенты</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="../index.html" th:href="@{/}" class="nav-link" aria-current="page">На главную</a></li>
            <li class="nav-item"><a href="../customer/customerList.html" th:href="@{/customer}" class="nav-link">Клиенты</a></li>
            <li class="nav-item"><a href="../about.html" th:href="@{/about}" class="nav-link">О нас</a></li>
        </ul>
    </header>
</div>

</body>
</html>