<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header('Главная страница')">
    <title>Главная страница</title>
</head>

<body class="d-flex flex-column h-100">

<div class="mb-auto">
    <div th:replace="fragments/navbar::navbar"></div>
</div>

<main class="flex-shrink-0">
    <div class="container d-flex w-50 p-3 mx-auto flex-column text-center">
        <main class="px-3">
            <h1>О нас</h1>
            <p class="lead">Учебное веб-приложение для работы с клиентами, созданное с использованием технологий Spring Boot, Spring Data JPA, Thymeleaf и Bootstrap.</p>
            <p class="lead">
                <a href="https://github.com/MerakseS/sptingcustomers" th:href="@{https://github.com/MerakseS/sptingcustomers}" class="btn btn-primary btn-lg fw-bold"><i class="bi bi-github"></i> GitHub</a>
            </p>
        </main>
    </div>
</main>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>