<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>
<h1>Клиент</h1>
<div th:object="${customer}">
    <h3>Идентификатор</h3>
    <p th:text="*{id}">1</p>
    <h3>Имя</h3>
    <p th:text="*{firstName}">Имя</p>
    <h3>Фамилия</h3>
    <p th:text="*{surname}">Фамилия</p>

    <a href="editCustomer.html" th:href="@{/customer/{id}/edit(id=*{id})}">
        <button>Изменить клиента</button>
    </a>

    <form th:method="DELETE" th:action="@{/customer/{id}(id=*{id})}">
        <input type="submit" value="Удалить клиента"/>
    </form>
</div>

</body>
</html>