<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>
<div th:object="${customer}">
    <h2 th:text="|*{firstName} *{surname}|">Имя Фамилия</h2>
    <p id="birthdate" th:text="|Дата рождения: *{birthdate}|"></p>
    <p id="height" th:text="|Рост: *{height}|"></p>

    <a href="editCustomer.html" th:href="@{/customer/{id}/edit(id=*{id})}">
        <button>Изменить клиента</button>
    </a> <br/><br/>

    <form th:method="DELETE" th:action="@{/customer/{id}(id=*{id})}">
        <input type="submit" value="Удалить клиента"/>
    </form>
</div>

</body>
</html>