<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header('Главная страница')">
    <title>Главная страница</title>
</head>

<body class="d-flex flex-column h-100">

<div class="mb-auto">
    <div th:replace="fragments/navbar::navbar"></div>
</div>

<main class="flex-shrink-0">
    <div class="container d-flex w-50 p-3 mx-auto flex-column text-center">
        <main class="px-3">
            <h1>Клиенты</h1>
            <p class="lead">Создавай, просматривай, изменяй и удаляй клиентов. На любой вкус и цвет. Любого возраста и роста. Что пожелаешь;)</p>
            <p class="lead">
                <a href="customer/customerList.html" th:href="@{/customer}" class="btn btn-primary btn-lg fw-bold">Список клиентов</a>
            </p>
        </main>
    </div>
</main>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>