<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить клиента</title>
</head>
<body>
<h1>Добавить клиента</h1>
<form th:object="${customer}" th:method="POST" th:action="@{/customer}">
    <label for="firstName">Имя: </label>
    <input id="firstName" type="text" th:field="*{firstName}"/>
    <br/><br/>

    <label for="surname">Фамилия: </label>
    <input id="surname" type="text" th:field="*{surname}"/>
    <br/><br/>

    <label for="birthdate">Дата рождения: </label>
    <input id="birthdate" type="date" th:field="*{birthdate}"/>
    <br/><br/>

    <label for="height">Рост: </label>
    <input id="height" type="text" th:field="*{height}"/>
    <br/><br/>

    <input type="submit" value="Добавить клиента"/>
</form>
</body>
</html>