<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header('Клиент')">
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body class="d-flex flex-column h-100">

<div th:replace="fragments/navbar::navbar('Клиент')"></div>

<main class="flex-shrink-0">
    <div class="container">
        <div th:object="${customer}">
            <a class="text-black" href="customerList.html" th:href="@{/customer}"><i class="bi bi-chevron-left"></i></a>
            <h2 th:text="|*{firstName} *{surname}|">Имя Фамилия</h2>
            <p th:text="|Дата рождения: *{birthdate}|"></p>
            <p th:text="|Рост: *{height} см|"></p>

            <form class="form" th:method="DELETE" th:action="@{/customer/{id}(id=*{id})}">
                <a class="btn btn-primary" href="editCustomer.html" th:href="@{/customer/{id}/edit(id=*{id})}">
                    Изменить
                </a>
                <input type="submit" class="btn btn-secondary" value="Удалить"/>
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>